.App {
  position: fixed;
  display: block;
  background: purple url('./images/background.jpeg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 80px;
  float: left;
  display: block;
}

.App-header {
  background-color: darkred;
  height: 80px;
  padding: auto;
  position: relative;
  color: white;
  display: block
}

.App-title {
  font-size: 1.5em;
  line-height: 80px;
}

.App-intro {
  font-size: large;
}

.row {
  height: 30vh;
  margin-top: 10px;
}

.col {
  height: 100%;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
}
.col .block-overlay,
.col .block {
  position: absolute;
  border-radius: 1em;
  width: 15em;
  height: 100%;
  text-align: center;
}

.col .block {
  background: burlywood;
  z-index: 1;
}
.col .block-overlay {
  opacity:0;
  background: rgba(0,0,0,0.5);
  z-index:1;
}

.col .block-overlay .topbar {
  position: absolute;
  right: 0;
  padding: 0.5em;
  top: -50%;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
}

.col .block-overlay .topbar img {
  margin-right: 5px;
}

.col:hover .block-overlay{
   opacity: 1;
}

.col:hover .block-overlay .topbar{
  top:0;
}

.col .block .image {
  width: 125px;
  height: 125px;
  margin: 1em;
}

footer {
  width: 100%;
  font-weight: bold;
  display: block;
  background: burlywood;
  position: fixed;
  bottom:0;
}
